nav {
    background-color: white;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

.menu {
    padding: 0 0;
    width: 500px;
    background-color: #FAFAFA;
}

.menu li a {
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;
    color: #E08CD4;
    border-radius: 5px;
    font-size: 10px;
    border: 1px solid #DDB1F0;
}

.menu li:last-child a,
.menu li:first-child a,
.menu li:nth-child(2) a,
.menu li:nth-child(11) a {
    border: 1px solid #FAFAFA;
}

.menu li:nth-child(n+3):nth-child(-n+10) a:hover {
    background-color: #A13BCF;
    color: white;
    border: 1px solid #DDB1F0;
}

span {
    vertical-align: -7px;
    color: #E08CD4;
    font-size: 15px;
    padding: 5px;
    padding-right: 8px;
    padding-left: 8px;
}

