table {
    width: 800px;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border-bottom: 2px solid #CCCCCC;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

tr:nth-child(odd) {
    background-color: #fefefe;
}

tr:nth-child(even) {
    background-color: #dceaf6;
}

td:nth-of-type(2n+1) {
    background-color: #f1f1de;
}

tr:nth-of-type(odd) td:first-of-type {
    background-color: #fefefe;
}

tr:nth-of-type(even) td:first-of-type {
    background-color: #dceaf6;
}

