nav {
    background-color: #A64DFF;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

.menu {
    padding: 0 0;
    margin-left: 40px;
    width: 950px;
}

.menu li a {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    line-height: 35px;
}

.menu li a:hover {
    background-color: #eee;
    color: #9faabc;
}

ul li:last-child {
    float: right;
    margin-right: 20px;
}
