form {
    font: 10px Tahoma;
}

input {
    display: none;
}

input#red:checked ~ label[for="red"],
input#green:checked ~ label[for="green"],
input#blue:checked ~ label[for="blue"] {
    opacity: 0.5;
}

label {
    display: block;
    float: left;
    margin-right: 40px;
    text-decoration: underline;
    cursor:pointer;
}

label[for="red"],
label[for="green"],
label[for="blue"] {
    font-size: 25px;
    padding: 10px;
}

label[for="red"] {
    color: red;
}

label[for="green"] {
    color: green;
}

label[for="blue"] {
    color: blue;
}

span {
    display: inline-block;
    vertical-align: top;
    line-height: 16px;
    height: 18px;
    color: white;
    border-radius: 6px;
    font-size: 25px;
    margin: 3px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

span.red {
    background-color: red;
}

span.green {
    background-color: green;
}

span.blue {
    background-color: blue;
}

#red:checked ~ .red,
#green:checked ~ .green,
#blue:checked ~ .blue {
    display: none;
}