body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

.comment-staciya,
.comment-david {
    background: white;
    position: relative;
    left: 163px;
    top: 22px;
    width: 363px;
    height: 98px;
    float: left;
    margin-left: 25px;
}

.comment-david {
    left: 215px;
}

.comment-staciya::before,
.comment-david::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 40px;
    border: 11px solid transparent;
    border-right: 20px solid white;
}

.comment-staciya-name,
.comment-david-name,
.comment-staciya-tag,
.comment-david-tag {
    border-bottom: 2px dotted #666;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    color: #3270a6;
    position: relative;
    padding: 8px 29px 21px 20px;
    height: 10px;
    width: 132px;
}

.comment-staciya-name,
.comment-david-name {
    float: left;
}

.comment-staciya-tag,
.comment-david-tag {
    float: right;
}

.comment-staciya-content,
.comment-david-content {
    padding: 36px 0 0 15px;
    font-size: 14px;
    color: #917e91;
}

img.ninja,
img.ponsy {
    float: left;
    position: relative;
    left: 163px;
    top: 21px;
    width: 100px;
    height: 100px;
}

img.ponsy {
    left: 215px;
}

.header {
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ed7f2b;
    margin-top: 50px;
    margin-left: 526px;
}

.header span {
    color: #3270a6;
}

@media (max-width: 1024px) {
    .comment-david {
        left: -55px;
        top: 161px;
    }

    .comment-staciya {
        top: 60px;
        left: 432px;
    }

    img.ponsy {
        left: -33px;
        top: 160px;
    }

    img.ninja {
        top: 58px;
        left: 455px;
    }

    .comment-staciya::before,
    .comment-david::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
    }
}