.container {
    width: 285px;
    background: #EE8129;
    padding: 5px;
    height: 456px;
    margin: 0;
    border: 5px solid;
    border-color: #E0EEF5;
    border-radius: 5px;
}

.header {
    width: 285px;
    height: 45px;
    margin-top: -5px;
    margin-left: -5px;
    border: 5px solid #EE8129;
    border-radius: 5px;
    background: #EE8129;
}

.header p {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 82px;
    color: white;
}

.content {
    width: 288px;
    height: 386px;
    background-color: white;
    margin: 0;
    margin-left: -2px;
    margin-top: -14px;
}

.content p {
    font-size: 22px;
    margin-top: 35px;
    padding-top: 17px;
    padding-left: 55px;
}

.content span input {
    margin-top: 1px;
    margin-left: 18px;
    width: 252px;
    height: 37px;
    background-color: #EE8129;
    color: white;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 4px #B3560B;
}

h1 {
    font-size: 80px;
    margin-top: -16px;
    margin-left: 68px;
}

h1 sub {
    font-size: 17px;
    vertical-align: -10px;
}

h1 sup {
    vertical-align: 36px;
    font-size: 25px;
}

ul {
    margin-top: -32px;
    font-size: 16px;
}

li {
    list-style-type: none;
    padding: 7px;
    padding-left: 30px;
    border: 1px solid white;
    margin-left: -25px;
    margin-right: 14px;
    color: #A1A4AA;
}

li:nth-child(odd) {
    background-color: #EDF5FD;
}

li:nth-child(even) {
    background-color: #F5F5F6;
}