body {
    margin: 0;
    padding: 0;
    margin-top: 12px;
}

nav {
    background-color: #1AA4FF;
    padding: 0 40px 0 40px;
    position: relative;
    height: 38px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu li a {
    padding: 9px 15px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.menu li:hover a {
    background-color: #eee;
    color: #A0A0A0;
    height: 20px;
}

.menu li ul {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    background-color: #eee;
}

.menu li ul li a {
    padding: 8px 10px;
    color: #A0A0A0;
}

.menu li:hover ul {
    display: block;
    height: 35px;
    color: #B2B2C8;
    background-color: #EEEEEE;
    box-shadow: 0 5px #F2F2F2;
}

