a {
    font-size: 25px;
}

A[href^="./"] {
    color: blue;
}

A[href^="https"] {
    color: #f70;
}

A[href*="google"] {
    color: #666;
}

.arrow:after {
    content: "\21f1";
    text-decoration: none;
}