i {
    background-color: green;
}

div b {
    color: red;
}

h1.orange {
    color: orange;
}

h1.blue {
    color: blue;
}

ol.red>li {
    color: red;
}

ol.green>li {
    color: green;
}

ol.red1>li {
    color: red;
}

table {
    width: 400px;
    hight: 400px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }

td, th {
    padding: 5px;
    border: 1px solid black;
  }

td:first-child {
    text-align: left;
    color: gold;
}

td:first-child ~ td {
    background-color: green;
    color: white;
}
