body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
}

.wrapper-main {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    padding: 0;
}

.all-content {
    padding-top: 50px;
}

.main-content-wrapper {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.main-content-wrapper .logo img {
    width: 100px;
    height: 100px;
}

.content-wrapper {
    max-width: 75%;
    float: left;
    position: relative;
    background-color: white;
    height: 100px;
    margin-left: 20px;
}

.content-wrapper:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 40px;
    border: 11px solid transparent;
    border-right: 20px solid white;
}

.name {
    float: left;
}

.customer {
    float: right;
}

.name,
.customer {
    font-style: italic;
    color: #7cabdc;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    padding: 0 35px 0;
    margin: -15px 0 0 0;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #3170a2;
    font-size: 26px;
    padding-top: 50px;
}

.text-orange {
    color: orange;
}

.logo {
    max-width: 25%;
    float: left;
}

.content-name {
    border-bottom: 1px dashed #8a8a8a;
    padding-top: 20px;
}

.content p {
    font-size: 15px;
    text-align: left;
    display: inline-block;
    padding: 0 10px 0 10px;
}

.clear {
    clear: both;
}