body {
    margin-left: 28px;
}

.best-value-container,
.standart-container,
.ultimate-container {
    width: 285px;
    background: #EE8129;
    padding: 5px;
    height: 429px;
    margin: 0;
    border-radius: 5px;
    float: left;
}

.best-value-container {
    margin-top: 44px;
    height: 455px;
    position: relative;
    z-index: 1;
}

.standart-container {
    background: white;
    margin-top: 55px;
    margin-right: -10px;
    box-shadow: 0 0 1px 1px #ddd;
}

.ultimate-container {
    background: white;
    margin-top: 55px;
    margin-left: -5px;
    box-shadow: 0 0 1px 1px #ddd;
}

.best-value-header,
.standart-header,
.ultimate-header {
    width: 285px;
    height: 32px;
    margin-top: -5px;
    margin-left: -5px;
}

.best-value-header {
    background: #EE8129;
    border-radius: 5px;
    height: 33px;
}

.standart-header {
    background: #2CC2D5;
    border: 5px solid #2CC2D5;
}

.ultimate-header {
    background: #00B89A;
    border: 5px solid #00B89A;
}

.standart-header,
.ultimate-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 53px;
}

.best-value-header p,
.standart-header p,
.ultimate-header p {
    font-size: 22px;
    margin-top: 20px;
    margin-left: 82px;
    color: white;
}

.best-value-content,
.standart-content,
.ultimate-content {
    width: 288px;
    height: 375px;
    background-color: white;
    margin-left: -2px;
    margin-top: -14px;
}

.standart-content,
.ultimate-content {
    margin-top: -35px;
}

.best-value-content {
    height: 387px;
}

.best-value-content p,
.standart-content p,
.ultimate-content p {
    font-size: 22px;
    margin-top: 35px;
    padding-top: 17px;
    padding-left: 55px;
}

.best-value-content input,
.standart-content input,
.ultimate-content input {
    margin-top: 1px;
    margin-left: 18px;
    width: 252px;
    height: 37px;
    color: white;
    border-radius: 5px;
    border: 0;
}

.best-value-content input {
    background-color: #EE8129;
    box-shadow: 0 4px #B3560B;
}

.standart-content input,
.ultimate-content input {
    background-color: #306FA8;
    box-shadow: 0 4px #13426B;
}

p {
    font-size: 28px;
    margin-left: 35px;
}

h2 {
    font-size: 80px;
    margin-top: -16px;
    margin-left: 68px;
    color: #35495A;
}

h2 sub {
    font-size: 17px;
    vertical-align: -10px;
}

h2 sup {
    vertical-align: 36px;
    font-size: 25px;
}

ul {
    margin-top: -44px;
    font-size: 16px;
}

li {
    width: 91%;
    margin: -16px 0px 18px -22px;
    list-style-type: none;
    font-size: 15px;
    text-align: left;
    text-transform: none;
    color: #888c94;
    padding: 7px 0px 8px 24px;
}

li:nth-child(odd) {
    background-color: #EDF5FD;
}

li:nth-child(even) {
    background-color: #F5F5F6;
}